body {

margin:0;
padding:0;
font-family:sans-serif;
}

ul{
position:absolute;
    /* top:20px;
    left:50%;
    transform: translate(-50%,-50%); */
margin:0;
padding:0;
display:flex;
 
}

ul li {
list-style: none;

}

ul li a {
position:relative;
display:block;
padding:10px 20px;
color: #262626;
}


img.img-fluid.container07content {
    width: 467px;
    height: 421px;

}

img.img-fluid.container07image {
    width: 467px;
    float:right;

}
img.img-fluid.container06content {
    width: 467px;
    height: 535px;

}

img.img-fluid.container06image {
    width: 467px;
    height: 513px;

}

img.img-fluid.container05{

    width: 99px;
}
img.img-fluid.container05content {
    width: 467px;
    height: 421px;
   
}

img.img-fluid.container05image {
    width: 467px;

}

img.img-fluid.container04content {
    width: 467px;
    height: 535px;

}

img.img-fluid.container04image {
    width: 467px;
    height: 513px;

}

img.img-fluid.container03content {
    width: 467px;
    height: 421px;

}

img.img-fluid.container03image {
    width: 467px;
    float:right;

}

img.img-fluid.container01content {
    width: 467px;
    height: 421px;

}

img.img-fluid.container01image {
    width: 467px;
    float:right;

}

img.img-fluid.container02content {
    width: 467px;
    height: 535px;

}

img.img-fluid.container02image {
    width: 467px;
    height: 513px;

}